:root {
    /* Main color palette */
    --asvang-primary: #317873;
	--asvang-primary-rgb: 49, 120, 115;
    --asvang-dark: #0a0908;
	--asvang-dark-rgb: 19, 9, 8;
    --asvang-light: #f2f4f3;
	--asvang-light-rgb: 242, 244, 243;
    --asvang-red: #fe4a49;
    --asvang-purple: #4f4789;

	/* Override bootstrap colors */
	--bs-primary-rgb: var(--asvang-primary-rgb);
  	--bs-light-rgb: var(--asvang-light-rgb);
	--bs-dark-rgb: var(--asvang-dark-rgb);

}


/************************************************** Buttons */
.btn-primary {
	--bs-btn-bg: var(--asvang-primary);
	--bs-btn-border-color: var(--asvang-primary);

	--bs-btn-hover-bg: #265c58;
	--bs-btn-hover-border-color: #265c58;
}

.btn-outline-primary {
	--bs-btn-color: var(--asvang-primary);
	--bs-btn-border-color: var(--asvang-primary);
	--bs-btn-hover-bg: var(--asvang-primary);
 	--bs-btn-hover-border-color: var(--asvang-primary);
}
